body{
    height: 100vh;
    background-color: aquamarine !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.row{
    border-radius: 0vh
}
.card{
    overflow: hidden;
    border: 0ch !important;
    border-radius: 10px !important;
}
.img-left{
    width: 40%;
    background: url('log.svg') center;
    background-repeat: no-repeat;
    background-size: cover;

}
.card-body{
    padding: 2rem;
}
.title{
    margin-bottom: 2rem;

}
.form-input{
    position: relative;
}
.form-input input{
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;/*border*/
    border: 1px solid black !important;
    outline: 0ch;
    background: transparent;
}
.form-input input::placeholder{
    color: black;
    padding-left: 0%;
}
.form-input input:focus, .form-input input:valid{
    border: 2px solid aquamarine;
}
.form-box button[type="submit"]{
    margin-top: 10px;
    border: 0ch;
    cursor: pointer;
    background-color: aquamarine;
    color: white;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    padding: 12px;
}
.forget-link , .register-link{
    color: rgb(75, 255, 195);
    font-weight: bold;
}
.form-box .btn-facebook{
    background: rgb(69, 69, 255);
    color: white;
    border-radius: 10px;
} 

.form-box .btn-google{
    background: #ea4335;
    color: white;
    border-radius: 10px;
}
.form-box .btn-twitter{
    background: #00acee;
    color: white;
    border-radius: 10px;
}

.form-box .btn-facebook:hover{
    color: antiquewhite;
} 

.form-box .btn-google:hover{
    color: antiquewhite;
}
.form-box .btn-twitter:hover{
    color: antiquewhite;
}

